version: '3.8'

services:
  postgres:
    image: postgres:16
    container_name: hackathon-postgres
    environment:
      POSTGRES_DB: hackathon_konst
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data

volumes:
  postgres-data:
